{% extends 'User/layout1.html.twig' %}
{% block main %}



     
   
  

   <div class="container" style="margin: auto; padding: 10%;">
  {{form_start(form)}}
  {{form_widget(form)}}
  {{form_end(form)}}
        
      </div>  
        
        
 {% endblock %}
        